/* .container {
    width: 700px;
    background: lightgoldenrodyellow;
}

.title {
    color: maroon;
    font-style: italic;
    font-weight: bold;
} */

.section-title {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.post {
    display: flex;
    border: 1px solid rgb(0, 0, 0, 0.3);
    width: 500px;
    padding: 10px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.img-thumb {
    width: 200px;
    height: 150px;
    margin-right: 20px;
}

.img-thumb img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.content {
    flex: 1;
}

.content p.title {
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    color: blue;
    margin-bottom: 16px;
}

.content p.title:hover {
    cursor: pointer;
}

.content p.desc {
    margin: 0px;
    font-size: 12px;
    color: grey;
}

.remove {
    margin-top: 5px;
    padding: 12px 18px;
    background: red;
    color: white;
    border-radius: 4px;
    outline: none;
}

.update {
    margin-top: 5px;
    margin-left: 8px;
    padding: 12px 18px;
    background: rgb(21, 255, 0);
    color: white;
    border-radius: 4px;
    outline: none;
}

.remove:hover,
.update:hover {
    cursor: pointer;
}

.form-add-post {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    width: 500px;
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.form-add-post label {
    display: block;
    box-shadow: teal;
    font-size: 14px;
    color: blue;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-add-post input,
.form-add-post textarea {
    outline: none;
    border: 1px solid black;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    color: brown;
}

.btn-submit {
    outline: none;
    /* border: 1px solid rgb(33, 10, 161); */
    padding: 10px 30px;
    border-radius: 4px;
    margin-bottom: 20px;
    /* color: rgb(33, 10, 161); */
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
}

.update-btn {
    margin-left: 8px;
}